/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.json
public/royslog.txt
public/royslog.txt
resources/views/error_log
public/menucache.html
royslog.txt
*.html
public/error_log
public/error_log
*.php___jb_bak___
ai.sql
config/database.php
config/mail.php
