.sprite {
    background-image: url('../../public/images/grid64.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin-right: .75rem !important;
}
.sprite-tip{
    width: 64px !important;
    height: 64px !important;
    margin-right: .75rem !important;
}
.sprite-medium {
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
}
.sprite-pizza {background-position: 0 0;}
.sprite-salad {background-position: -96px 0;}
.sprite-potato-wedges {background-position: -192px 0;}
.sprite-panzerotti {background-position: -288px 0;}
.sprite-onion-rings {background-position: -384px 0;}
.sprite-wings {background-position: -480px 0;}
.sprite-241_pizza {background-position: -576px 0;}
.sprite-lasagna {background-position: -672px 0;}
.sprite-dips {background-position: -768px 0;}
.sprite-garlic-bread {background-position: -864px 0;}
.sprite-french-fries {background-position: -960px 0;}
.sprite-drinks {background-position: -1056px 0;}
.sprite-chicken-nuggets {background-position: -1152px 0;}
.sprite-veggie-sticks {background-position: -1248px 0;}
.sprite-pepsi {background-position: -1344px 0;}
.sprite-diet-pepsi {background-position: -1440px 0;}
.sprite-2l-sprite {background-position: -1536px 0;}
.sprite-sprite {background-position: -1632px 0;}
.sprite-water {background-position: -1728px 0;}
.sprite-2l-coca-cola {background-position: -1824px 0;}
.sprite-crush-orange {background-position: -1920px 0;}
.sprite-ginger-ale {background-position: -2016px 0;}
.sprite-diet-coca-cola {background-position: -2112px 0;}
.sprite-nestea {background-position: -2208px 0;}
.sprite-2l-brisk-iced-tea {background-position: -2304px 0;}
.sprite-dr-pepper {background-position: -2400px 0;}
.sprite-7-up {background-position: -2496px 0;}
.sprite-root-beer {background-position: -2592px 0;}
.sprite-iced-tea {background-position: -2688px 0;}
.sprite-orange {background-position: -2784px 0;}